config-file = {{ .chezmoi.homeDir }}/.config/ghostty/config
window-padding-x = 8
window-padding-y = 8
window-width = 90
window-height = 28
window-save-state = never
background = #282a36
background-opacity = 0.94
