[Unit]
Description=tmux default session (detached)
Documentation=man:tmux(1)

[Service]
Type=forking
ExecStart={{ if eq .gpu "nixos" }}/etc/profiles/per-user/%u{{ else }}%h/.nix-profile{{ end }}/bin/tmux new-session -d

ExecStop=%h/.config/tmux/plugins/tmux-resurrect/scripts/save.sh
ExecStop={{ if eq .gpu "nixos" }}/etc/profiles/per-user/%u{{ else }}%h/.nix-profile{{ end }}/bin/tmux kill-server
KillMode=control-group

RestartSec=2

[Install]
WantedBy=default.target
